@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

.button{
    @apply rounded bg-transparent border hover:bg-gray-200 hover:text-cyan-900
}

.padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }
.max-container {
  max-width: 1440px;
  margin: 0 auto;
}
